@model IEnumerable<ConsumingAPIs.Models.CalendarificHolidayApi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolidayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanonicalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.States)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanonicalUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.States)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}
    </tbody>
</table>
